@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/* font-family: 'Audiowide', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */

body {
    font-size: medium;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 250%;
}

.transparent50 {
    filter: alpha(Opacity=80);
    opacity: 0.8;
    float: right;
}


#fatherdiv{
    position: relative;
    height: 120px;
    background-color: cadetblue;
}

#header_center{
    float: left;
    text-align: center;
    width: 65%;

}

#header_right{
    float: left;
    text-align: center;
    width: 15%;

}

#header_name{
    position: relative;
    float: left;
    width: 20%;

}

#vp_group{
    text-align: center;
    color: orangered;
    font-family: 'Audiowide', cursive;
    font-size: 250%;
    background-color: aliceblue;
}

#slogan{
    font-family: 'Audiowide', cursive;
    background-color: brown;
}