@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');
/* font-family: 'Audiowide', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */

body {
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 250%;
}

.transparent50 {
    filter: alpha(Opacity=80);
    opacity: 0.8;
    float: right;
}

#number{
    color: orangered;
    font-size: 150%;
}

#header_left{
    font-size: 70%;
    width: 34%;
    text-align: left;
    display: inline-block;
    /*float: left;*/
}

#header_right{
    width: 34%;
    text-align: right;
    display: inline-block;
    /*float: left;*/
}

#header_name{
    text-align: center;
    color: orangered;
    font-family: 'Audiowide', cursive;
    width: 30%;
    display: inline-block;
    /*float: left;*/
}