<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>VP-Group</title>
        <meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
        <link type="text/css" rel="stylesheet" href="/css/home_style.css"/>
    </head>
    <body>
        <header>
            <div id="fatherdiv"><!--Блок для отражения названия компании-->
                <div id="header_name">
                    <p id="vp_group">PV-Group</p>
                    <p id="slogan">Ремонт для жизни</p>
                </div>
                <div id="header_center">s</div>
                <div id="header_right">s</div>
            </div>
            <div>
                <img src="/jpg/home_title.jpg" width="80%" class="transparent50">
            </div>
        </header>
        <p th:text="'Привет, ' + ${title} + '!'" />
        <p>Немного <a href="orders">о нас)</a></p>
    </body>
</html>